@charset "UTF-8";
/* Основная часть - КОНТЕНТ - СЕКЦИИ */
.content-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content__main {
  display: block;
  margin: 0;
}

.main__section {
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 5px 1px #d7d7d7;
          box-shadow: 0px 2px 5px 1px #d7d7d7;
  border-radius: 7px;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 115px;
}

.section-title__logo img {
  margin: -40px 0 0 0;
}
