/* Карточки категорий */
.content {
   flex: 1 0 auto;
   &__main {
      margin: 0 0 200px 0;
      display: flex;
   }
}
.content-container {
   display: flex;
   flex-direction: column;
   h1 {
      
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 70px 0;
   }
}
.main {
   &__pc-item {
      margin: 0 75px 0 0;
      transition: all 0.5s ease 0s;
      &:hover {
         transform: translateY(-5px);
         transition: all 0.5s ease 0s;
      }
   }
}
.pc-item {
   padding: 25px 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 2px 5px 1px #d7d7d7;
   border-radius: 15px;
   &__body {
   }

   &__image {
      width: 200px;
      height: 250px;
      margin: 0 auto;
      img {
         width: 100%;
      }
   }

   &__title {
      margin: 20px 0 0 0;
      text-align: center;
      font-size: 18px;
      a {
         color: #000;
         &:hover {
            color: #FF480D;
         }
      }
   }
}